#diretrizes-estrategicas{
	// .container-slider{
	// 	display: flex;
	// 	flex-wrap: no-wrap;
	// 	overflow: scroll;
	// 	justify-content: center;

	// }
}
h3{


	&:last-child{
		margin-right: 0;
	}

	&:before{
		position: absolute;
		display: block;
		color: #0a3655;
		font-size: 116px*2;
		font-weight: $bold;
		z-index: -1;
		top: 25px;
		left: 50%;
		transform: translateX(-50%);
	}

	@for $i from 1 through 7 {
		&:nth-child(#{$i}):before{
			content: "#{$i}";
		}
	}
}


.swiper-container{
	overflow: visible !important;
}