.swiper{
	&-container{
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		list-style: none;
		padding: 0;
		/* Fix of Webkit flickering */
		z-index: 1;

		&-no-flexbox{
			&.swiper-slide{
				float: left;
			}
		}

		&-vertical > .swiper-wrapper{
			-webkit-box-orient: vertical;
  			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
		}
	}

	&-wrapper{
		
	}
}